@model ThingsToDo

@{
    string title = ViewBag.Action + " Page 3";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input asp-for="ThingsToDo1" class="form-control">
    </div>

    <div class="form-group">
        <input asp-for="ThingsToDo2" class="form-control">
    </div>

    <div class="form-group">
        <input asp-for="ThingsToDo3" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>